@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
.container {
  width: 1115px;
  margin: 0 auto;
  height: 100%;
}
section.first {
  height: 737px;
  background-image: url(images/top-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
header {
  height: 116px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 273px;
  height: 100%;
  display: flex;
  text-decoration: none;
}
.logo-content {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-letters {
  font-family: "Rammetto One";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background: #c8c8c8;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  margin-right: 21px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
.logo-label {
  font-family: "Roboto";
  color: #505050;
  font-size: 22px;
  height: auto;
}
nav {
  height: 100%;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li:not(:last-child) {
  margin-right: 58px;
}
nav a {
  text-decoration: none;
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 500;
  color: #717784;
}
.styled-link {
  display: flex;
  width: 234px;
  height: 60px;
  background: #9b9bca;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 500;
}
.first__block {
  width: 751px;
  height: 537px;
  display: flex;
  align-items: center;
}
.first__content {
  height: 313px;
}
.first__content h1 {
  font-family: "DM Serif Display", serif;
  color: #696a86;
  width: 548px;
  font-size: 56px;
  margin-bottom: 30px;
}
.first__content p {
  font-size: 18px;
  font-family: "Poppins";
  color: #696a86;
  margin-bottom: 30px;
}
section.service {
  height: 627px;
  padding-top: 95px;
}
.service__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__title-block {
  height: 143px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title-block h2 {
  font-family: "Poppins";
  margin-bottom: 12px;
  color: #626780;
  font-weight: 500;
  font-size: 26px;
}
.service__title-block span {
  font-size: 18px;
  font-family: "Poppins";
  color: #626780;
}
.service__advantages {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.advantages__block {
  padding-top: 23px;
  width: 261px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__icon {
  margin-bottom: 21px;
}
.advantages__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #626780;
  margin-bottom: 12px;
}
.advantages__bottomText {
  color: #626780;
  font-size: 16px;
  font-family: "Poppins";
  text-align: center;
}
.framed {
  border: 1px solid #9d9d9d;
  border-radius: 5px;
}
section.people {
  height: 714px;
  padding-top: 8px;
}
.people__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.people__text-block {
  width: 493px;
  min-height: 175px;
}
.people__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 26px;
  color: #626780;
  margin-bottom: 16px;
  line-height: 39px;
}
.people__description {
  font-family: "Poppins";
  font-size: 18px;
  color: #626780;
  line-height: 30px;
}
.people__img-block {
  height: auto;
}
